 {{!-- Login form --}}

<body id="signinBody" class="text-center">
	<form class="form-signin">
		<img class="mb-4" src="assets/images/barcode-scanner.jpg" alt="" width="72" height="72">
		<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		<label for="username" class="sr-only">Username</label>
		<input type="text" class="form-control" id="username" placeholder="Username" required="" autofocus="">
		<label for="password" class="sr-only">Password</label>
		<input type="password" id="password" class="form-control" placeholder="Password" required="">
		<div class="checkbox mb-3">
			<label>
				<input type="checkbox" value="remember-me"> Remember me
			</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit" id="login">Sign in</button>
		<div id="error"></div>
		{{!-- <p class="mt-5 mb-3">New User? Register
			<a href="newUser">Here</a>
		</p> --}}
		<p class="mt-5 mb-3 text-muted">© 2017-2018</p>
	</form>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/login.js"></script>
</body>


