<div class="col-md-8">
	<h2>Test</h2>
	<a href="#">New Item</a>
	<br>
	<br> {{!-- Datatable which will hold data from our database --}}
	<table id="item-data" class="display">
		<thead>
			<tr>
				<th>UPC</th>
				<th>Model</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>123129712323</td>
				<td>Xbox One X</td>
			</tr>
			<tr>
				<td>24354657</td>
				<td>Lawn Mower</td>
			</tr>
		</tbody>
	</table>
</div>

{{!-- Scripts for the Datatables --}} 
{{!-- Datatables jquery link --}}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<!-- Datatables CSS -->
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
{{!-- Scripts to make the Javascript run --}} 
<script>
	$(document).ready(function () {
		$('#item-data').DataTable();
	});
</script>